In [ ]:
print("Stanly Jose")

Stanly Jose

In [ ]:
var1 = '23'
var2 = '54'

In [ ]:
print("hello")

hello

In [ ]:
"""multiple comment line"""
#single line of comment.
a = 10
print (a) #value of variable a
print(id(a))#location of the variable a is stored

10
10751144

In [ ]:
a =10
b=20
c=d=e=10
f,g,h=10,20,30
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
20
10
10
10
10
20
30

In [ ]:
l=['stanly',10, 20.25, 3+4j] #creating simple list
print(l)

['stanly', 10, 20.25, (3+4j)]

In [ ]:
a = 3+4j
print(a)
print(type(a))#

(3+4j)
<class 'complex'>

In [ ]:
#isinstance
a=10
b=10.5
print(isinstance(a,int))#true
print(isinstance(b,int))#false. b is of type float

True
False

In [ ]:
#variable annotation
name: str="NTT"
print(name)
print(type(name))
print(__annotations__['name'])

NTT
<class 'str'>
<class 'str'>

In [ ]:
stan: int = 45
print(stan)
print(__annotations__['stan'])

45
<class 'int'>

In [ ]:
print(18/4)
print(18//4)
print(18%4)
print(18.0//4.0)
print(18.0/4.0)

4.5
4
2
4.0
4.5

In [ ]:
"""String Slicking can be done like below. It works like a substring in C#
start: starting point of substring (0 by default)
stop : ending poing of substring ( last index by default,  stop-1)
step: skipping the number of charectors (1 by default)
number of charectors print would be Stop-Start charectors
eg: if start is 0 and stop is 3
3-0 =3
now it has to print substring of 0,1,2 . which is 3 charectors
There are two ways of slicing. Positive and Negative slicing
Positive slicing uses positive indexing
Negative slicking uses negative indexing - which is the negative indexing is given in the reverse order
eg: Hello ==> H would have the index of -5
              e would have the index of -4
              l would have the index of -3
              l would have the index of -2
              o would have the index of -1

"""

#Positive Indexing
# the 3 parameters are Start: Stop: Step
print(s[0:5:1])
print(s[6:10:1])
print(s[0:10:2])
print(s[:5:1]) #default value is taken as 0 for the first parameter
print(s[5::1]) #default value for the second parameter would be the last index of the list
print(s[::1])

['h', 'e', 'l', 'l', 'o']
['o', 'r', 'l', 'd']
['h', 'l', 'o', 'o', 'l']
['h', 'e', 'l', 'l', 'o']
['w', 'o', 'r', 'l', 'd']
['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [ ]:
#negative
s='Bangalore'
print(s[-2:-8:-1])
print(s[-8:-2:-1])
print(s[::-1])

rolagn

erolagnaB

In [ ]:
s='Hello, world!'
print(s[-5:2:-2])
t='Python is fun!'
#it takes the out put of the first set [::2] = Pto sfn. And then it slices again from the first result
print(t[::2])
# Here it is just reverses the string result of first slicing.
print(t[::2][::-1])

o o
Pto sfn
nfs otP

In [ ]:
"""if condition/test_expression:
      statement 1
      statement 2
      rest of the statements"""
if 10>5:
  print('true')
  print('first number is greater')
print('end of if condition')

if 10>15:
  print('true')
  print('first number is greater')
print('end of if condition')

true
first number is greater
end of if condition

In [ ]:
# input function
a= input('enter a value')
print(a)
print(type(a))

enter a value10
10
<class 'str'>

In [ ]:
# input function with type cast
a= int(input('enter a value'))
print(a)
print(type(a))

enter a value10
10
<class 'int'>

In [ ]:
#If Else
a = int(input('enter a value'))
b = int(input('enter a value'))
if a>b:
  print('a is greater')
  print('if block')
else:
  print('b is greater')
  print('else block')

enter a value10
enter a value5
a is greater
if block

In [ ]:
#Nested IF Else
s=input('enter a status color')
if s=="red":
  print("stop")
elif s=="yellow":
  print("wait")
else:
  print('go')

enter a status coloryellow
wait

In [ ]:
#sample program for polindrome
s= input('enter a string to check it is polindrome or not: ')
s= s.lower()
if s==s[::-1]:
  print(s + ' is polindrome')
else:
  print(s+ ' is not polindrome')

enter a string to check it is polindrome or not: Malayalam
malayalam is polindrome

In [ ]:
# While loop
check=1
while check<5:
  print(check)
  check = check+1
print('out of first while loop')
loop=0
check=5
while loop < 10:
  loop = loop+1
  result = loop*check
  print(str(loop) + '*'+ str(check)+'=' + str(result) )
print ('out of loop')

1
2
3
4
out of first while loop
1*5=5
2*5=10
3*5=15
4*5=20
5*5=25
6*5=30
7*5=35
8*5=40
9*5=45
10*5=50
out of loop

In [ ]:
#for loop
s="Stanly" #string
for i in s:
  print(i)
l=[10,20,30,40] #list
for i in l:
  print(i)
t=(10,20,30,40) #tuple
for i in t:
  print(i)
d={'a':10,'b':20,'c':30} #set
for i in d:
  print(i)

# for loop with list which has different type of elements
for i in [10,'stanly',10.5,-11]:
  print(i)
  print(type(i))

S
t
a
n
l
y
10
20
30
40
10
20
30
40
a
b
c
10
<class 'int'>
stanly
<class 'str'>
10.5
<class 'float'>
-11
<class 'int'>

In [ ]:
s= 'welcome to Python'
print(s)
print(len(s))

welcome to Python
17

In [ ]:
#membership operator
if "b"  not in "apple":
  print('yes')
else:
  print('no')

yes

In [ ]:
#count method . To find the number of occurence
main_str =input("enter a main string")
sub_str = input("enter a sub string")
#main_str=main_str.lower()
#sub_str=sub_str.lower()
c=main_str.count(sub_str)
print(c)

enter a main stringMAlayalam
enter a sub stringa
3

In [ ]:
#startswith method
m_no = input("enter a mobile number")
if m_no.startswith('+91'):
  print('India mobile number')
elif m_no.startswith('1'):
  print('US mobile number')
else:
  print('invalid mobile number')

enter a mobile number+915309457034
India mobile number

In [ ]:
#endswith method
url = input("enter a url")
if url.endswith('.com'):
  print('valid url for commercial')
elif url.endswith('.edu'):
  print('valid url for education')
elif url.endswith('.org'):
  print('valid url for organisation')
elif url.endswith('.net'):
  print('valid url for networking')
else:
  print('invalid url')

enter a urlwww.learn.edu
valid url for education

In [ ]:
#removing leading charactors . Removes until it finds the first mismatch of the charactor
#lstrip
name=input("enter your name")
print(name)
name =name.lstrip()
print(name)
listURL = ["http://www.amazon.com","http://www.flipkart.com","http://www.myntra.com"]
for i in listURL:
  i=i.lstrip("http://")
  print(i)

enter your name  stanly
  stanly
stanly
www.amazon.com
www.flipkart.com
www.myntra.com

In [ ]:
#rstrip . Till finds the fist mismatch it removes
listURL = ["http://www.amazon.com","http://www.flipkart.com","http://www.myntra.com"]
for i in listURL:
  i=i.rstrip("htp.com")
  print(i)

http://www.amazon
http://www.flipkar
http://www.myntra

In [ ]:
#strip - to remove the charactors from starting and ending positions
listURL = ["http://www.amazon.com","http://www.flipkart.com","http://www.myntra.com"]
for i in listURL:
  i=i.strip("htp.com")
  print(i)

://www.amazon
://www.flipkar
://www.myntra

In [ ]:
#ord - ordinance of ascii value
print(ord('a'))
print(ord('A'))
print(ord('z'))
print(ord('Z'))
a="A.Anandh"
b="B.Abi"
if a>b:
  print(a)
  print("a is greater")
else:
  print(b)
  print("b is greater")

97
65
122
90
B.Abi
b is greater

In [ ]:
#replace method
s1 ="I live in Chennai. Chennai is a metropolitan city"
s2 = s1.replace("Chennai","Bangalore") #replaces all the occurance
print(s2)
s2 = s1.replace("Chennai","Bangalore",1)#only one occurance is replaced
print(s2)

I live in Bangalore. Bangalore is a metropolitan city
I live in Bangalore. Chennai is a metropolitan city

In [ ]:
#find method
s1 ="I live in Chennai. Chennai is a metropolitan city"
s2 = s1.find("Chennai") #finds the index value of first occurance
print(s2)

10

In [ ]:
#rfind method
s1 ="I live in Chennai. Chennai is a metropolitan city"
s2 = s1.rfind("Chennai") #finds the index value of first occurance
print(s2)

19

In [ ]:
#find the number of occurance of a string from a input string
s1 ="I live in Chennai. Chennai is a metropolitan city"

In [ ]:
# prompt: find the number of occurrence  of a string in a string
main_string = "I live in Chennai. Chennai is a metropolitan city"
sub_string = "Chennai"
c=main_string.count(sub_string)
print(c)
def count_substring(main_string, sub_string):
    count = 0
    start = 0
    while True:
        start = main_string.find(sub_string, start)
        if start == -1:
            break
        count += 1
        start += 1  # Move to the next position to avoid counting overlapping occurrences
    return count

2

In [ ]:
#split method
s="I live in Chennai. Chennai is a metropolitan city"
c="India,Canada,USA,Australia"
k=s.split(' ')
print(k)
countries = c.split(',')
print(countries)

['I', 'live', 'in', 'Chennai.', 'Chennai', 'is', 'a', 'metropolitan', 'city']
['India', 'Canada', 'USA', 'Australia']

In [ ]:
#List is a collection of values or items of different types
"""
Indexing helps to access the items/ elements from the list [List, Tuple, Set,Dictionary]
it is iteratable
comparison
default value

max
append --> list1.append(iteratable) # it returns nothing. But it modifies the value of the list
Remove --> list1.Remove(element) remove a value from the list. it removes the first occurance of the element
Pop --> list1.pop(index) removes the last element from the list.
clear--> list1.clear() removes all the elements from the list. Makes the list empty
delete--> list1.del() deletes the list. also can be used to delete element by index
"""
lst =['I', 'live', 'in', 'Chennai.', '600020', '23000.00','per month']
#list() method
l1=list()
print(l1)
print(type(l1))
s="NTT DATA"
l2= list(s)
print(l2)
#range of numbers
l3=list(range(10))
print(l3)
l4=list(range(10,20))
print(l4)
#range with start, stop and interval (step)
l5=list(range(10,20,2))
print(l5)

[]
<class 'list'>
['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 12, 14, 16, 18]

In [ ]:
li =[1, 1, 2, 2, 3, 4, 4, 4, 8, 9]
unique = list()
count = list()
#how to find the unique elements of a list and insert in a list and its count in another list
for num in li:
  if num not in unique:
    unique.append(num)
    count.append(li.count(num))
print(unique)
print(count)

[1, 2, 3, 4, 8, 9]
[2, 2, 1, 3, 1, 1]

In [ ]:
#tuples
"""
List elements are represented with in [] . It is mutable
Tuple elements are represented with in () and elements are seperated by comma(,).
Tuple is immutable. it means it can't be modified after creation.
Tuple is a collections of elements of different types
using tuple() constructor,
"""
t1 =(1,2,3,4,[5,6,7],8,9)
print(t1)
print(type(t1))

s="NTT DATA"
t2=tuple(s)
print(t2)
#list to tuple
l5=[10,20,30]
t3=tuple(l5)
print(t3)
#tuple to list
l6=list(t3)
print(l6)

"""tuple with single element will be considered as its type like int, str ect.
If you still want to continue it as tuple, then use a comma after the signle element
"""
t3=('10')
print(t3)
print(type(t3))

t4=(10,)
print(t4)
print(type(t4))

#tuple can't be changed. It is immutable
t1 =(10,20,30)
t2=(40,50,60)
t3=t1+t2*2
print(t3)
print(type(t3))

(1, 2, 3, 4, [5, 6, 7], 8, 9)
<class 'tuple'>
('N', 'T', 'T', ' ', 'D', 'A', 'T', 'A')
(10, 20, 30)
[10, 20, 30]
10
<class 'str'>
(10,)
<class 'tuple'>
(10, 20, 30, 40, 50, 60, 40, 50, 60)
<class 'tuple'>

In [ ]:
#iterating through tuple
t4=(10,20,30)
for i in t4:
  print(i)

#slicing in tuple
t5=(1,2,3,4,5,6)
print(t5)

10
20
30
(1, 2, 3, 4, 5, 6)

In [ ]:
#dictionary in Python
"""
It is a collection.
We can have our own index value
it is an unordered key value pair. Key followed by a value
keys must be unique and immutable
values can be of any type
denoted by curly braces {}
"""
d={1:10,2:20,3:30,4:40}
print(d)
"""
efficient way of using Key value pair
"""
d1 = {'name':'Stan','age':45,'city':'chn'}
print(d1)
print(type(d1))
print(d1.keys())
print(d1.values())
print(d1.items())

{1: 10, 2: 20, 3: 30, 4: 40}
{'name': 'Stan', 'age': 45, 'city': 'chn'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
dict_values(['Stan', 45, 'chn'])
dict_items([('name', 'Stan'), ('age', 45), ('city', 'chn')])

In [8]:
"""
List--> denoted with [] --> It has duplicate values. It is mutable. Index value only be Integer(positive and Negative)
Tuple--> denoted with () --> it has unique values. It is immutable
Set--> denoted with {} --> it has unique values
Dictionary--> denoted with {} --> it has key value pair. No duplicate keys. Index value can be of Integer, String , Tuple
"""
#create a dictionary
d1={1:100,2:200,3:300,4:400,5:500}
print(d1[1])
print(type(d1))

d2 ={'aa':100, 'bb':200, 'cc':300, 'dd':400, 'ee':500}
print(d2['cc'])
print(type(d2))

#Dictionary can have list, integer, string, tuple as Value
d3={3:[1,2,3],6:(4,5,6),9:'NTT Data'}
print(d3[3])
print(d3[6])
print(d3[9])
print(type(d3))

#Dictionary can have integer, String or tuple as key / index
d4={3:100, (3,4):200, 'hi':300}
print(d4[3])
print(d4[(3,4)])
print(d4['hi'])

100
<class 'dict'>
300
<class 'dict'>
[1, 2, 3]
(4, 5, 6)
NTT Data
<class 'dict'>
100
200
300

In [12]:
#Iterating through dictionary using Keys
d1={1:100,2:200,3:300,4:400,5:500}
for i in d1:
  print(i)
  print(d1[i])

#Iterate through dictionary using values
d2={'aa':100, 'bb':200, 'cc':300, 'dd':400, 'ee':500}
for values in d2.values():
  print(values)

#iterate through dictionary items --> Key, value
d3={3:[1,2,3],6:(4,5,6),9:'NTT Data'}
for i in d3.items():
  print(i)

1
100
2
200
3
300
4
400
5
500
100
200
300
400
500
(3, [1, 2, 3])
(6, (4, 5, 6))
(9, 'NTT Data')

In [20]:
d6={1:100,'a':100,2:200,'b':200,3:300,4:400,5:500}
for xx,yy in d6.items():
  print(xx)
  print(yy)
#dictionary Membership Operator
d6={1:100,'a':100,2:200,'b':200,3:300,4:400,5:500}
for xx,yy in d6.items():
  print(xx)
  print(yy)
#dictionary Membership Operator
if 'a' in d6:
  print('a is present')
else:
  print('a is not present')

1
100
a
100
2
200
b
200
3
300
4
400
5
500
1
100
a
100
2
200
b
200
3
300
4
400
5
500
a is present

In [26]:
#inbuilt method in Dictionary
#Keys()
d1={1:100,2:200,3:300,4:400,5:500}
print(d1.keys())
#values()
print(d1.values())
#items()
print(d1.items())
#get()
val=d1.get(5)
print(val)
val1 = d1.get(6,-1)#second parameter is the default value. Which means if the value is not present in the dictionary, the second parameter will be given as output
print(val1)
#pop() - will return the value of the key
val = d1.pop(5)
print(val)

val1 = d1.pop(6,-1) #second parameter is the default value. Which means if the value is not present in the dictionary, the second parameter will be given as output
print(val1)

#popitem()
val = d1.popitem()
print(val)

#update()

d1={1:100,2:200,3:300,4:400,5:500}
d2={6:600,7:700,8:800}
d1.update(d2)
print(d1)

dict_keys([1, 2, 3, 4, 5])
dict_values([100, 200, 300, 400, 500])
dict_items([(1, 100), (2, 200), (3, 300), (4, 400), (5, 500)])
500
-1
500
-1
(4, 400)
{1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 6: 600, 7: 700, 8: 800}