In [ ]:
print("Stanly Jose")

Stanly Jose

In [ ]:
var1 = '23'
var2 = '54'

In [ ]:
print("hello")

hello

In [1]:
"""multiple comment line"""
#single line of comment.
a = 10
print (a) #value of variable a
print(id(a))#location of the variable a is stored

10
10751144

In [3]:
a =10
b=20
c=d=e=10
f,g,h=10,20,30
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
20
10
10
10
10
20
30

In [4]:
l=['stanly',10, 20.25, 3+4j] #creating simple list
print(l)

['stanly', 10, 20.25, (3+4j)]

In [5]:
a = 3+4j
print(a)
print(type(a))#

(3+4j)
<class 'complex'>

In [11]:
#isinstance
a=10
b=10.5
print(isinstance(a,int))#true
print(isinstance(b,int))#false. b is of type float

True
False

In [12]:
#variable annotation
name: str="NTT"
print(name)
print(type(name))
print(__annotations__['name'])

NTT
<class 'str'>
<class 'str'>

In [14]:
stan: int = 45
print(stan)
print(__annotations__['stan'])

45
<class 'int'>

In [16]:
print(18/4)
print(18//4)
print(18%4)
print(18.0//4.0)
print(18.0/4.0)

4.5
4
2
4.0
4.5

In [22]:
"""String Slicking can be done like below. It works like a substring in C#
start: starting point of substring (0 by default)
stop : ending poing of substring ( last index by default,  stop-1)
step: skipping the number of charectors (1 by default)
number of charectors print would be Stop-Start charectors
eg: if start is 0 and stop is 3
3-0 =3
now it has to print substring of 0,1,2 . which is 3 charectors
There are two ways of slicing. Positive and Negative slicing
Positive slicing uses positive indexing
Negative slicking uses negative indexing - which is the negative indexing is given in the reverse order
eg: Hello ==> H would have the index of -5
              e would have the index of -4
              l would have the index of -3
              l would have the index of -2
              o would have the index of -1

"""

#Positive Indexing
# the 3 parameters are Start: Stop: Step
print(s[0:5:1])
print(s[6:10:1])
print(s[0:10:2])
print(s[:5:1]) #default value is taken as 0 for the first parameter
print(s[5::1]) #default value for the second parameter would be the last index of the list
print(s[::1])

['h', 'e', 'l', 'l', 'o']
['o', 'r', 'l', 'd']
['h', 'l', 'o', 'o', 'l']
['h', 'e', 'l', 'l', 'o']
['w', 'o', 'r', 'l', 'd']
['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [4]:
#negative
s='Bangalore'
print(s[-2:-8:-1])
print(s[-8:-2:-1])
print(s[::-1])

rolagn

erolagnaB

In [9]:
s='Hello, world!'
print(s[-5:2:-2])
t='Python is fun!'
#it takes the out put of the first set [::2] = Pto sfn. And then it slices again from the first result
print(t[::2])
# Here it is just reverses the string result of first slicing.
print(t[::2][::-1])

o o
Pto sfn
nfs otP

In [10]:
"""if condition/test_expression:
      statement 1
      statement 2
      rest of the statements"""
if 10>5:
  print('true')
  print('first number is greater')
print('end of if condition')

if 10>15:
  print('true')
  print('first number is greater')
print('end of if condition')

true
first number is greater
end of if condition

In [12]:
# input function
a= input('enter a value')
print(a)
print(type(a))

enter a value10
10
<class 'str'>

In [14]:
# input function with type cast
a= int(input('enter a value'))
print(a)
print(type(a))

enter a value10
10
<class 'int'>

In [15]:
#If Else
a = int(input('enter a value'))
b = int(input('enter a value'))
if a>b:
  print('a is greater')
  print('if block')
else:
  print('b is greater')
  print('else block')

enter a value10
enter a value5
a is greater
if block

In [17]:
#Nested IF Else
s=input('enter a status color')
if s=="red":
  print("stop")
elif s=="yellow":
  print("wait")
else:
  print('go')

enter a status coloryellow
wait

In [25]:
#sample program for polindrome
s= input('enter a string to check it is polindrome or not: ')
s= s.lower()
if s==s[::-1]:
  print(s + ' is polindrome')
else:
  print(s+ ' is not polindrome')

enter a string to check it is polindrome or not: Malayalam
malayalam is polindrome

In [2]:
# While loop
check=1
while check<5:
  print(check)
  check = check+1
print('out of first while loop')
loop=0
check=5
while loop < 10:
  loop = loop+1
  result = loop*check
  print(str(loop) + '*'+ str(check)+'=' + str(result) )
print ('out of loop')

1
2
3
4
out of first while loop
1*5=5
2*5=10
3*5=15
4*5=20
5*5=25
6*5=30
7*5=35
8*5=40
9*5=45
10*5=50
out of loop

In [7]:
#for loop
s="Stanly" #string
for i in s:
  print(i)
l=[10,20,30,40] #list
for i in l:
  print(i)
t=(10,20,30,40) #tuple
for i in t:
  print(i)
d={'a':10,'b':20,'c':30} #set
for i in d:
  print(i)

# for loop with list which has different type of elements
for i in [10,'stanly',10.5,-11]:
  print(i)
  print(type(i))

S
t
a
n
l
y
10
20
30
40
10
20
30
40
a
b
c
10
<class 'int'>
stanly
<class 'str'>
10.5
<class 'float'>
-11
<class 'int'>