In [ ]:
print("hello world")

hello world

In [ ]:
input("enter a number")

enter a number12

'12'

In [ ]:
#Day 9 COPY--> 1. Shallow COPY and 2. DEEP COPY
#l2 is referencing l1
l1=[10,20,30,40]
l2=l1
print(l1)
print(l2)
l1[0]=100
print(l1)
print(l2)

[10, 20, 30, 40]
[10, 20, 30, 40]
[100, 20, 30, 40]
[100, 20, 30, 40]

In [ ]:
#shallow copy
"""A shallow copy constructs a new compound object and then (to the
  extent possible) inserts *the same objects* into it that the
  original contains.

"""
import copy
l1=[[10,20,30,40],[100,200],[1000,'a']]
print('print l1 :' + str(l1))
print('print id(l1) : ' + str(id(l1)))
l2=copy.copy(l1)
print('print l2 : '+ str(l2))
print('print id(l2)'+ str(id(l2)))
print('print id(l1) '+ str(id(l1)))
print('print id(l2[0])'+ str(id(l2[0])))
print('print id(l1[0])' + str(id(l1[0])))

l1[0]=50
print('print l1 '+ str(l1))
print('print l2: ' + str(l2))

print l1 :[[10, 20, 30, 40], [100, 200], [1000, 'a']]
print id(l1) : 139123673592192
print l2 : [[10, 20, 30, 40], [100, 200], [1000, 'a']]
print id(l2)139123673687168
print id(l1) 139123673592192
print id(l2[0])139123673824576
print id(l1[0])139123673824576
print l1 [50, [100, 200], [1000, 'a']]
print l2: [[10, 20, 30, 40], [100, 200], [1000, 'a']]

In [ ]:
#Deep copy
"""- A deep copy constructs a new compound object and then, recursively,
  inserts *copies* into it of the objects found in the original.

Two problems often exist with deep copy operations that don't exist
with shallow copy operations:

 a) recursive objects (compound objects that, directly or indirectly,
    contain a reference to themselves) may cause a recursive loop

 b) because deep copy copies *everything* it may copy too much, e.g.
    administrative data structures that should be shared even between
    copies

Python's deep copy operation avoids these problems by:

 a) keeping a table of objects already copied during the current
    copying pass

 b) letting user-defined classes override the copying operation or the
    set of components copied

This version does not copy types like module, class, function, method,
nor stack trace, stack frame, nor file, socket, window, nor any
similar types.

Classes can use the same interfaces to control copying that they use
to control pickling: they can define methods called __getinitargs__(),
__getstate__() and __setstate__().  See the documentation for module
"pickle" for information on these methods. """

import copy
x1=[[10,20,30,40],[100,200],[1000,'a']]
print('print x1 :'+ str(x1))
print('print id(x1) :'+ str(id(x1)))
x2=copy.deepcopy(x1)
print('print x2 :'+ str(x2))
print('print id(x2) :'+ str(id(x2)))
print('print id(x1) :'+ str(id(x1)))
print('print id(x2[0]) :'+ str(id(x2[0])))
print('print id(x1[0]) :'+ str(id(x1[0])))

print x1 :[[10, 20, 30, 40], [100, 200], [1000, 'a']]
print id(x1) :139123673583232
print x2 :[[10, 20, 30, 40], [100, 200], [1000, 'a']]
print id(x2) :139123673683072
print id(x1) :139123673583232
print id(x2[0]) :139123673583296
print id(x1[0]) :139123673589952

In [ ]:
#Union of Sets
s1={10,20,30,40}
s2={30,40,50,60}
print(s1|s2)
s3=s1.union(s2)
print(s3)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [ ]:
#Intersection of Sets
s1={10,20,30,40}
s2={30,40,50,60}
print(s1&s2)
s3=s1.intersection(s2)
print(s3)

{40, 30}
{40, 30}

In [ ]:
#Difference of sets
s1={10,20,30,40}
s2={30,40,50,60}
print(s1-s2)
s3=s1.difference(s2)
print(s3)

{10, 20}
{10, 20}

In [ ]:
#frozen set - The set becomes immutable, you will not be able to add / update the frosen set.
s1={10,20,30,40}
s2={30,40,50,60}
s3=frozenset(s1)
s4=frozenset(s2)
print(s3)
print(type(s3))

frozenset({40, 10, 20, 30})
<class 'frozenset'>

In [ ]:
#Extent list
my_list=[10,20,30,40]
my_list.extend([50,60])
print(my_list)
print(my_list[1:3])
#Append list
my_list.append([70,80])
print(my_list)
#Pop - to remove a value from a list by its index
my_list.pop(3)
print(my_list)
#Insert - To add value to a list at a specific Index
#syntaxt list.insert(index,value)
my_list.insert(3,100)
print(my_list)
#To remove a value from a list
my_list.remove(100)
print(my_list)
#To sort the list
#my_list.sort()
#print(my_list)
#
print('the list')
print(my_list[::-1])


#To reverse the list elements
my_list.reverse()
print(my_list)
#To clear the list elements
my_list.clear()
print(my_list)

[10, 20, 30, 40, 50, 60]
[20, 30]
[10, 20, 30, 40, 50, 60, [70, 80]]
[10, 20, 30, 50, 60, [70, 80]]
[10, 20, 30, 100, 50, 60, [70, 80]]
[10, 20, 30, 50, 60, [70, 80]]
the list
[[70, 80], 60, 50, 30, 20, 10]
[[70, 80], 60, 50, 30, 20, 10]
[]

In [ ]:
#create a function with parameters and with return value
def add(a, b):
  c=int(a)+int(b)
  return c
print("Call a parametered function")
a= int(input("enter number a "))
b= int(input("enter number b "))
c= add(a, b)
print("Sum of number a "+str(a)+" and b "+str(b)+" is "+str(c))

Call a parametered function
enter number a 10
enter number b 20
Sum of number a 10 and b 20 is 30

In [ ]:
#validate is the input is an integer
def get_integer_input(prompt):
  """Prompts the user for input until a valid integer is entered."""
  while True:
    try:
      value = int(input(prompt))
      return value
    except ValueError:
      print("Invalid input. Please enter an integer.")
#an add function to sum two numbers
def add(a, b):
  c=int(a)+int(b)
  return c

def test(a, b, c, d):
  return a, b, c, d

a = get_integer_input("Please enter a number a: ")
print(f"You entered: {a}")
b = get_integer_input("Please enter a number b: ")
print(f"You entered: {b}")
c= add(a, b)
print("Sum of number a "+str(a)+" and b "+str(b)+" is "+str(c))

#mutiple values are returned in a tuple
x = test(1, 2, 3, 4)
print(x)
print(type(x))

Please enter a number a: 12
You entered: 12
Please enter a number b: 45
You entered: 45
Sum of number a 12 and b 45 is 57
(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
#create a function with parameters and without return value
def add(a, b):
  c=int(a)+int(b)
  print("Sum of number a "+str(a)+" and b "+str(b)+" is "+str(c))
a= input("enter number a ")
b= input("enter number b ")
add(a,b)

enter number a 12
enter number b 14
Sum of number a 12 and b 14 is 26

In [ ]:
#create a function without parameters and with return value
def add():
  a= int(input("enter number a "))
  b= int(input("enter number b "))
  c=a+b
  return c
c= add()
print("Sum of number a "+str(a)+" and b "+str(b)+" is "+str(c))

def test1():
  l1= (10,20,30,40)
  t1= (100,200,300,400)
  return l1, t1
x = test1()
print(x)
print(type(x))

enter number a 23
enter number b 53
Sum of number a 12 and b 45 is 76
((10, 20, 30, 40), (100, 200, 300, 400))
<class 'tuple'>

In [ ]:
#create a function without parameters and without return value
def add():
  a= int(input("enter number a "))
  b= int(input("enter number b "))
  c=a+b
  print("Sum of number a "+str(a)+" and b "+str(b)+" is "+str(c))
  print(type(c))
add()

enter number a 23
enter number b 34
Sum of number a 23 and b 34 is 57
<class 'int'>

In [ ]:
def test2(a,b,c,d):
  return a,b,c,d
x,y= test2(1,2,3,4)[1:3]
print(x)
print(type(x))
print(y)
print(type(y))

2
<class 'int'>
3
<class 'int'>

In [ ]:
def test3(a,b,c,d):
  return a,b,c,d
_,val2,_,val4=(10,20,30,40)
print(val2,val4)

20 40

In [ ]:
#create a function without parameters and with return value
def add():
  a= int(input("enter number a "))
  b= int(input("enter number b "))
  c=a+b
  return c
c= add()
print('sum of the numbers:' +str(c))1

enter number a 12
enter number b 4
sum of the numbers:16

In [ ]:
def test1():
  print('test1 start')
  test2()
  print('test1 end')
def test2():
  print('test2 start')
  print('test 2 end')

test1()

test1 start
test2 start
test 2 end
test1 end

In [ ]:
#Local Variable and its scope
def test1():
  x=10
  x=x+1
  print(x)
#Since it is local variable, for both the function callings, the x will bear the value (10+1) = 11.
test1()
test1()

11
11

In [ ]:
#global variable
n=10
def test2():
  n=5
  print(n)#prints the local variable value. Since this call is inside the function test2()

test2()
print(n)#prints the value of the global variable. Since the local variable scope ended in the function test2() itselft

5
10

In [ ]:
n=20 # global variable
def test3():
  global n # the glbal keyword lets the funciton call the global variable and make changes to its value.
  n=n+1
  print(n)

test3()
test3()
print(type(test3)) #shows the type.
print(test3) # shows the memory location

21
22
<class 'function'>
<function test3 at 0x7d5455dae520>

In [ ]:
def multiplier_factory(factor):
  """Returns a function that multiplies its argument by the given factor."""
  def multiplier(number):
    """Nested function Multiplies its argument by the given factor."""
    return number * factor
  return multiplier
#create a function that multiplies by 2
multiply_by_2 = multiplier_factory(2)
#create a function that multiplies by 3
multiply_by_3 = multiplier_factory(3)
#use the created function
result1 = multiply_by_2(5)
result2 = multiply_by_3(5)
print(result1)  # Output: 10
print(result2)  # Output: 15
print (multiply_by_2(5))  # Output: 10
print (multiply_by_3(5))  # Output: 15

10
15
10
15

In [ ]:
#required arguments
#keyword arguments and positional argument
#default arguments
#variable length arguments -- Variable length positional argument(tuple) and Variable length keyword arguments(dictionary)
def fun1(name, age, city):
  print('my name is:', name, 'age is ', age,'city is:', city)
def power(num,p=2):#Default argument
  return num**p

def sum(*a): #variable length positional args is referenced with '*' before the argument.
  result=0
  for i in a:
    result=result+i
  print(result)

def addtion(**a): #variable length keyword args is referenced with '**' before the argument.
  s=0
  for i in a.values():
    s=s+i
  print(s)

fun1('stanly',40,'chennai')#required arguments
fun1(age=40,name='stanly',city='chennai')#Keyword arguments
#positional argument and then Keyword argument
fun1('stanly',40,city='chennai')#Positional arguments. The order of the positional arguments first and then Keyword arguments should follow.
print(power(5)) # the default parameter for the p(power is 2) which is set in the function itself. if the value is not given, it will consider that default value.
print(power(5,3)) #here the default value will be overridden by the value given here
sum(10,20) #variable length positional args - it is going to loop through the number of arguments and get that calculated as defined.
sum(10,20,30,40)
addtion(a=10,b=20,c=30) #variable length keyword args

my name is: stanly age is  40 city is: chennai
my name is: stanly age is  40 city is: chennai
my name is: stanly age is  40 city is: chennai
25
125
30
100
60

In [ ]:
#variable argument - variable positional and keyword arguments
def add(*tuple_args,**dictionary_args):
  #print(sum(tuple_args))
  #print(sum(dictionary_args.values()))
  print(tuple_args)
  print(dictionary_args)
  print(type(tuple_args))
  print(type(dictionary_args))

add(10,20,30,a=100,b=200)

(10, 20, 30)
{'a': 100, 'b': 200}
<class 'tuple'>
<class 'dict'>

In [ ]:
#arguments and its order
def students(name, course, *parents_name, age, school="AAC",**marks):
  print('name: ', name)
  print('class: ', course)
  print('parents_name: ', parents_name)
  print('age: ', age)
  print('school: ', school)
  print('marks: ', marks)
  print(type(marks))

students('Stanly','MCA','Stephen','Ispirith',age=40,cs=89,maths=75,acc=59,eng=69,tamil=83)

name:  Stanly
class:  MCA
parents_name:  ('Stephen', 'Ispirith')
age:  40
school:  AAC
marks:  {'cs': 89, 'maths': 75, 'acc': 59, 'eng': 69, 'tamil': 83}
<class 'dict'>

In [ ]:
#class in Python
class calculator:
  a=0 #attributes
  b=0
  result=0
  def __init__(self,a,b): #Methods
    self.a=a
    self.b=b
    self.result=0
  def add(self,a,b):
    self.result=self.a+self.b
    print('addition of two numbers a and b is:',self.result)
    pass
  def sub(self,a,b):
    self.result=self.a-self.b
    print('subtraction of two numbers a and b is :', self.result)
    pass
  def mul(self, a, b):
    self.result=self.a*self.b
    print('multiplication of two numbers a and b is: ', self.result)
    pass
  def div(self,a,b):
    self.result=self.a/self.b
    print('division of two numbers a and b is:', self.result)
    pass

s= calculator(10,20) #object creation.
s.add(10,20)
s.sub(10,20)
s.mul(10,20)
s.div(10,20)

addition of two numbers a and b is: 30
subtraction of two numbers a and b is : -10
multiplication of two numbers a and b is:  200
division of two numbers a and b is: 0.5

In [ ]:
#sample calculator class in python
class calc:
  a=0 #attributes
  b=0
  result=0
  def __init__(self): #Methods
    self.a=0
    self.b=0
    self.result=0
  """def get_integer_input(prompt):
  #Prompts the user for input until a valid integer is entered.
    while True:
      try:
        value = int(input(prompt))
        return value
      except ValueError:
        print("Invalid input. Please enter an integer.")"""
  def getnumbers(self):
    self.a=int(input("enter a number a: ")) #get_integer_input("enter number a: ")
    self.b=int(input("enter a number b: ")) #get_integer_input("enter number b: ")
  def add(self):
    self.result=self.a+self.b
    print('addition of two numbers a and b is:',self.result)
    pass
  def sub(self):
    self.result=self.a-self.b
    print('subtraction of two numbers a and b is :', self.result)
    pass
  def mul(self):
    self.result=self.a*self.b
    print('multiplication of two numbers a and b is: ', self.result)
    pass
  def div(self):
    self.result=self.a/self.b
    print('division of two numbers a and b is:', self.result)
    pass

c= calc() #object creation.
c.getnumbers()
c.add()
c.sub()
c.mul()
c.div()

enter a number a: 43
enter a number b: 12
addition of two numbers a and b is: 55
subtraction of two numbers a and b is : 31
multiplication of two numbers a and b is:  516
division of two numbers a and b is: 3.5833333333333335

In [ ]:
class father:
  def __init__(self):
    print('father class constructor')
    self.vechicle ="scooter"
class son(father):
  self.vechicle="bmw"

s= son()
print(s.__dict__)

NameError: name 'self' is not defined

In [ ]:
#parameterized constructor
class computer:
  def __init__(self, ram,pro):
    print("computer class constructor")
    self.ram = ram
    self.processor = pro
class mobile(computer):
  #make sure all the parent class parameters are passed and then child class parameters
  def __init__(self, ram,pro,model): #Child class parameters
    super().__init__(ram,pro)#Parent class parameters
    self.model=model
    print("mobile class constructor called")

m = mobile("8gb","snapdragon","Android")
print(m.__dict__)

computer class constructor
mobile class constructor called
{'ram': '8gb', 'processor': 'snapdragon', 'model': 'Android'}

In [ ]:
#multi level inheritence
class Grandfather:
  gf_attribute ="GF traits"

  def display_gf(self):
    print(self.gf_attribute)

class Father(Grandfather):
  f_attribute ="father traits"

  def display_f(self):
    print(self.f_attribute)

class Son(Father):
  s_attribute ="son traits"

  def display_s(self):
    print(self.s_attribute)

child1 = Grandfather()
child2 = Father()
child3 = Son()
child1.display_gf()
child2.display_f()
child3.display_s()
print(child1.s_attribute)
print(child1.f_attribute)
print(child1.gf_attribute)

GF traits
father traits
son traits

AttributeError: 'Grandfather' object has no attribute 's_attribute'

In [ ]:
#constructor in multi level inheritence
class human():
  def __init__(self):
    print("human class constructor")
    self.name = "Stephen"
class employee(human):
  def __init__(self):
    print("employee class constructor")
    self.salary = 100000

class manager(employee):
  def __init__(self):
    print("Manager class constructor")
    self.bonus=2000

m1 = manager()

print(m1.__dict__)

Manager class constructor
{'bonus': 2000}

In [ ]:
#constructor in multi level inheritence
class human():
  def __init__(self):
    print("human class constructor")
    self.name = "Stephen"
class employee(human):
  def __init__(self):
    super().__init__()
    print("employee class constructor")
    self.salary = 100000

class manager(employee):
  def __init__(self):
    super().__init__()
    print("Manager class constructor")
    self.bonus=2000

m1 = manager()
print(m1.__dict__)

human class constructor
employee class constructor
Manager class constructor
{'name': 'Stephen', 'salary': 100000, 'bonus': 2000}

In [ ]:
# class varibale inheritance

# Parent class with a class variable
class Parent:
  parent_class_variable = "I am a parent class variable"

  def __init__(self, name):
    self.name = name

  def display_parent_variable(self):
    print(f"From Parent instance {self.name}: {Parent.parent_class_variable}")

# Child class inheriting from Parent
class Child(Parent):
  child_class_variable = "I am a child class variable"

  def __init__(self, name, age):
    super().__init__(name) # Initialize the parent class
    self.age = age

  def display_variables(self):
    print(f"From Child instance {self.name}:")
    print(f"  Parent class variable: {self.parent_class_variable}") # Accessing inherited class variable
    print(f"  Child class variable: {self.child_class_variable}") # Accessing child class variable

# Create an instance of the Child class
child_instance = Child("Alice", 10)

# Access and display the inherited class variable
print("Accessing class variables:")
print(f"From Parent class: {Parent.parent_class_variable}")
print(f"From Child class (accessing inherited): {Child.parent_class_variable}")
print(f"From Child instance (accessing inherited): {child_instance.parent_class_variable}")
print(f"From Child class: {Child.child_class_variable}")

# Use the method to display the variables
child_instance.display_variables()

# Create a Parent instance to show the difference
parent_instance = Parent("Bob")
parent_instance.display_parent_variable()
# print(parent_instance.child_class_variable) # This would cause an error

Accessing class variables:
From Parent class: I am a parent class variable
From Child class (accessing inherited): I am a parent class variable
From Child instance (accessing inherited): I am a parent class variable
From Child class: I am a child class variable
From Child instance Alice:
  Parent class variable: I am a parent class variable
  Child class variable: I am a child class variable
From Parent instance Bob: I am a parent class variable

In [ ]:
#interview question
#1
l =[True, False, 2,3,4,5,"one",0]
b=0 in l #returns true
print(b)

True

In [ ]:
#2
my_tuple = (1,2,3,4)
my_tuple[1] = my_tuple[1] + my_tuple[0] # it is illegal, tuple doesnot support item assignment
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#what is the expected output
x=[0,1,2]
x.insert(0,1)
del x[0]
print(sum(x))

3

In [ ]:
list1=[1,3]
list2=list1
list1[0]=4
print(list2)

[4, 3]

In [ ]:
data=['peter', 404, 3.03,'We',33.3]

nums=[1,2,3]
vals= nums
del vals[1:2]
print(nums)

[1, 3]

In [ ]:
dct ={}
dct['1']=(1,2)
dct['2']=(2,1)
for x in dct.keys():
  print(dct[x][1], end='')

21

In [ ]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])

[1, 3, 5, 7, 9]

In [ ]:
d={}
d[1]=1
d['1']=2
d[1]+=1
sum=0
for k in d:
  sum+=d[k]
print(sum)

4

In [ ]:
dictionary={'one':'two','three':'one','two':'three'}
v=dictionary['one']
for k in range(len(dictionary)):
  v=dictionary[v]
print(v)

two

In [ ]:
my_list=[3,1,-1]
my_list[-1]=my_list[-2]
print(my_list)

[3, 1, 1]

In [ ]:
data={'peter': 30,'Paul': 31}
print(list(data.keys()))

['peter', 'Paul']

In [ ]:
tup=(1,) + (1,)
tup=tup+tup
print(tup)
print(len(tup))

(1, 1, 1, 1)
4

In [ ]:
w=[7,3,23,42]
x=w[1:]
y=w[1:]
z=w
y[0]=10
z[1]=20
print(w)

[7, 20, 23, 42]

In [ ]:
#Create a new variable, first_order_remainder and set it equal to 269 modulo 10.
first_order_remainder = 269 % 10
print(first_order_remainder)

9

In [ ]:
num_1 = 10
num_2 = 20
num_3 = num_1
num_1 = 100
num_3

10

In [ ]:
cool_number = 12 + 30
cool_number * 5
print(cool_number)

42

In [ ]:

new_list = ["Red", "Blue", "White", "Green"]
z = sorted(new_list)
d = list(z)
print(d)
print(d[3], d[2], d[1], d[0])
d[0], d[1], d[2], d[3] = d[3], d[2], d[1], d[0]
print(d[0], d[1], d[2], d[3])

['Blue', 'Green', 'Red', 'White']
White Red Green Blue
White Red Green Blue

In [ ]:
'1' + '2' if  '123'.isdigit() else '2'  + '3'

'12'

In [ ]:
a = 5
b = 10
c = "five"
#What are the results of evaluating the conditional expression?
print(a == c)
print(a >= b)
print(not(a < b and a > b))

False
False
True

In [ ]:
if 'bin' in {'float': 1.2, 'bin': 0b010}:
     print('a')
     print('b')
print('c')

a
b
c

In [ ]:
var = 'hi'
if(type(var) == int):
    print("Type of the variable is Integer")
elif(type(var) == float):
    print("Type of the variable is Float")
elif(type(var) == complex):
    print("Type of the variable is Complex")
else:
    print("Type of the variable is Unknown")

Type of the variable is Unknown

In [ ]:
a = [1, 'one', {2: 'two'}, 3]
b = len(a)

if b == 4:
   print('Length of this list is 4')
   if b == 5:
       print('Length of this list is 5')
   else:
         print(b)

Length of this list is 4
4

In [ ]:
#Which of the following function calls will generate the list below?
#[10, 7, 4, 1, -2]
#Instruction: Choose the option that best answers the question.

print(list(range(10, -3, -3)))

print(list(range(-2, 11, -3)))

print(list(range(10, -3, 3)))

print(list(range(-2, 10, -3)))
x = range(2, 14)
print(x)

[10, 7, 4, 1, -2]
[]
[]
[]
range(2, 14)

In [ ]:
my_list = [['tiger', 'lion', 'leopard'], ['camel', 'llama', 'alpaca'], ['zebra', 'donkey', 'wildebeest']]

for x in my_list:
    print(type(x))
my_dict = {1: 'one', 2: 'two', 3: 'three'}
for x in my_dict:
    print (x)

<class 'list'>
<class 'list'>
<class 'list'>
1
2
3

In [ ]:
x = list(range(-17, -7, 2))
print(x)

[-17, -15, -13, -11, -9]

In [12]:
#The following code takes the sum of all the scores in grades and averages them. The correct answer should be 80.8, however, we get a different answer  23.22. Can you explain why?
#Code
grades = [99, 83, 57, 65, 100]
average = 0
for grade in grades:
  average += grade
  average = average / len(grades)
print(average)

23.220480000000002

In [13]:
x = 0

if x = 0:
  print("x is equal to zero")
elif x >= 0:
  print("x is greater than zero")
else:
  print("x is less than zero")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-13-ab6783250c96>, line 3)

In [14]:
x = 5

if x <= 2:
  print("This is printed")
if x <= 4:
  print("This is also printed")
if x <= 6:
  print("Is this printed?")
if x <= 8:
  print("This might be printed.")

Is this printed?
This might be printed.

In [19]:
(4 <= 2 * 3) and (7 + 1 == 8)

True

In [22]:
#block1
print("block1")
for i in range(0,10,2):
    print (i)

#block2
print("block2")
x = 0
while x <10:
  print(x)
  x += 2

#block3
print("block3")
endloop = False
x = 0
while endloop != True:
  x += 2
  if x == 9:
    endloop = True


#block4
print("block4")
endloop = False
x = 0
while endloop != True:
  x += 2
  if x == 8:
    endloop = True

block1
0
2
4
6
8
block2
0
2
4
6
8
block3

KeyboardInterrupt:

In [23]:
for i in range(45):
  if i >=13:
    break
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [24]:
old = 0
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = []
for i in list1:
    list2.append(i + old)
    old = i
print(list2)

[0, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
#from important_data import data_list

data_list = [1,2,3,4,5,6,7,8,9,10]
aggregated_sum = 0
count_data = 0

for number in data_list:
  if number.omit == True:
    # Update this line so that
    # We omit this number
    continue

  aggregated_sum += number
  count_data += 1

averaged_data = aggregated_sum / count_data

print("Total average for our important data is {}".format(averaged_data))

AttributeError: 'int' object has no attribute 'omit'

In [29]:
for i in range(1,3):
  for j in range(2):
    print("I have " + str(j) + " egg(s)!")
  print("She has " + str(i) + " egg(s)!")

I have 0 egg(s)!
I have 1 egg(s)!
She has 1 egg(s)!
I have 0 egg(s)!
I have 1 egg(s)!
She has 2 egg(s)!

In [ ]:
vacation_gear = ["camera", "headphone", "torch", "hat", "scarf"]
for item in vacation_gear:
  print(item)
  # Put the line of code here.
    break

In [30]:
result = 0
for count in range(4):
  result = result + count

print(result)

6

In [35]:
scores = [
  ['mary', [19, 17, 18]],
  ['john', [15, 20, 16]],
  ['mark', [14, 19, 19]]
]

for person in scores:
  sum = 0
  for score in person[1]:
    for score in person[1]:
      sum += score
  print("{}'s average is {:0.2f}".format(name, sum / 3))

19's average is 54.00
19's average is 51.00
19's average is 52.00

In [32]:
fruits = ["orange", "apple", "banana"]
for fruit in fruits:
  fruit += 's'
print(fruit)

bananas

In [36]:
students_age = [7, 8, 9, 11, 9, 8]
summation = 0
index = 0
while index < 4:
  summation += students_age[index]
  index += 1

print(summation)

35

In [2]:
aircraft_companies = ['Boeing', 'Cessna', 'Airbus']
print("Aircraft Companies")
for c in aircraft_companies:
  if c == "Boeing":
    continue
  print(c)

for r in range(10):
  print("hello")

Aircraft Companies
Cessna
Airbus
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [3]:
count = 5
while count != 20:
  count += 5
  print(count)

10
15
20

In [4]:
number = 4
for i in range(3):
  number = number - 1
  print(number)

3
2
1

In [5]:
names = ["Zara", "Saba", "Gigi", "Brea", "Abby", "Loki"]
short_list = [name for name in names if name[3] == "a"]
print(short_list)

['Zara', 'Saba', 'Brea']

In [6]:
containers = [[2, 2], [3, 3], [4, 4], [5, 5]]
index = 0
for container in containers:
  for item in container:
    if index == 3:
      print(item)
  index = index +1

5
5

In [22]:
city = 'Los Angeles'
city.find('x')
#To insert an element at index 2 in a particular list named names_list
names_list = ['Johny', 'James', 'Lily','Emily','Nina']
#names_list.insert(2, 'John')
print(names_list)
#to count the number of times the name 'John' appears in the names_list
#names_list.count('John')
#names_list = sorted(names_list)
#print(names_list)
print(names_list[::2])

['Johny', 'James', 'Lily', 'Emily', 'Nina']
['Johny', 'Lily', 'Nina']

In [18]:
some_string ='Python'
some_string[::-1]
#a,b,c,d = some_string
#print(a,b,c,d)

'nohtyP'

In [25]:
names_ages = {'John': 35, 'Jim': 45, 'Alice': 25}
updated_names_ages = {'Ella': 29, 'John': 36}
#What would the output be if you were to run this code?

#names_ages['Tim']
#How would you update the names_ages dictionary with the values in updated_names_ages dictionary?
names_ages.update(updated_names_ages)
print(names_ages)

{'John': 36, 'Jim': 45, 'Alice': 25, 'Ella': 29}

In [33]:
names_ages = [['John', 35], ['Jill', 38], ['Tim', 27]]
#How would you access Tims age in this nested list?
names_ages[2][1]
set_1 = {2, 4, 6, 8}
set_2 = {1, 2, 5, 6, 7, 8}

#What operation would I run to get a result set with all of the elements from both sets?
set_1.union(set_2)
names_ages = {'John': 35, 'Jim': 45, 'Alice': 25}
names_ages['Alice']
dict(names_ages)
print(type(names_ages))

<class 'dict'>

In [8]:
old_str = 'Hello'
new_str = old_str
new_str = 'World'
print(old_str)
print(new_str)

Hello
World

In [13]:
import copy
tuple_a = ("John", "Amy", "Jules", ["Jim", "Ana"])
deep_copy = copy.deepcopy(tuple_a)
print(deep_copy)

('John', 'Amy', 'Jules', ['Jim', 'Ana'])

In [10]:
dict_a = {'John': 35, 'Jim': 22, 'Jill': 44}
dict_copy = dict_a.copy()
dict_copy['John'] = 40
print(dict_a)
print(dict_copy)

{'John': 35, 'Jim': 22, 'Jill': 44}
{'John': 40, 'Jim': 22, 'Jill': 44}

In [11]:
old_list = ["John", "Amy", "Jules"]
new_list = old_list.copy()
new_list.append('Emily')
print(old_list)
print(new_list)

['John', 'Amy', 'Jules']
['John', 'Amy', 'Jules', 'Emily']

In [12]:
dict_a = {'John': 35, 'Jim': 22, 'Jill': 44}
dict_copy = dict_a
dict_copy['John'] = 40
del dict_copy['John']
print(dict_a)

{'Jim': 22, 'Jill': 44}

In [14]:
old_list = ["John", "Amy", "Jules"]
new_list = old_list
new_list.append('Emily')
print(old_list)
print(new_list)

['John', 'Amy', 'Jules', 'Emily']
['John', 'Amy', 'Jules', 'Emily']

In [16]:
#Given a list my_list = ['a', 'b', 'c', 'd', 'e'], how would you remove the string 'b' from the list and store it in a variable named my_letter?
my_list = ['a', 'b', 'c', 'd', 'e']
my_letter = my_list.pop(1)
print(my_list)
print(my_letter)

['a', 'c', 'd', 'e']
b

In [19]:
#Would the following code block correctly print out the list tricky with its elements sorted? Why or why not?
tricky = ["c", "C",  65, 197]
#how to sort tricky list
tricky.sort()
print(tricky.sort())

TypeError: '<' not supported between instances of 'int' and 'str'

In [20]:
drinks = ['smoothie', 'coffee', 'water']
additional_drinks = ['juice', 'tea', 'slushie']
print(additional_drinks + drinks)

['juice', 'tea', 'slushie', 'smoothie', 'coffee', 'water']

In [23]:
# add an item to an existing list
heights=[64,62,63,71]
#add an item to the list heights
heights.append(61)
print(heights)

[64, 62, 63, 71, 61]